<app-header></app-header>
<div class="container-fluid">
  <div class="aboutus-container" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <h2>About Ziara Hotels</h2>
    <p>Welcome to Ziara Hotels, where luxury meets comfort. Our mission is to provide an unparalleled experience for our
      guests through exceptional service and premium amenities. Nestled in the heart of breathtaking landscapes, Ziara
      Hotels offers a perfect blend of modern elegance and timeless charm.</p>
  </div>

  <div class="row align-items-md-stretch"
    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="col-md-6 w-50">
      <div class="h-60 p-5 text-black bg-transparent">
        <h2>History of Ziara Hotels</h2>
        <p>
          Established in 1975, Ziara Hotels has grown from a single boutique hotel to a renowned chain of luxury
          accommodations. Our founder, Ms.Shafiya, envisioned creating a haven for travelers seeking a unique blend of
          relaxation and sophistication. Over the years, we have stayed true to this vision, continuously evolving to
          meet
          the needs of our discerning guests. </p>
        <button class="btn Swap the background-color border rounded-3" type="button">
          View more
        </button>
      </div>
    </div>
    <div class="" style="width: 30rem;">
      <img src="assets/hotel10.jpg" class="card-img-top shadow-lg border rounded-3" alt="...">
    </div>
  </div>


  <div class="row align-items-md-stretch"
    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="" style="width: 30rem;">
      <img src="assets/team1.jpg" class="card-img-top shadow-lg border rounded-3" alt="...">
    </div>
    <div class="col-md-6 w-50">
      <div class="h-60 p-5 text-black bg-transparent">
        <h2>Meet our team</h2>
        <p>
          Our dedicated team of hospitality professionals is committed to making your stay at Ziara Hotels
          unforgettable.
          From the moment you arrive, you’ll be greeted with warm smiles and attentive service. Our staff is trained to
          anticipate your every need and exceed your expectations.
        </p>
        <button class="btn Swap the background-color border rounded-3" type="button">
          View more
        </button>
      </div>
    </div>

  </div><br>
  
<app-footer></app-footer>
